@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MASCOTA FELIZ</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>

	<header>

	</header>

    

	<div class="encabezado-img">
		<p> Un Lugar Para Tu Mascota </p>
		<h1>BIENVENIDOS A MASCOTA FELIZ</h1>
		<p>Siempre dando la Felicidad a Tu Mascota</p>
	</div>
	
</body>
</html>