<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mascota Feliz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Duenos/ListaDuenos">
                            <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
				<lord-icon
					src="https://cdn.lordicon.com/itmsnfur.json"
					trigger="hover"
					colors="outline:#121331,primary:#545454,secondary:#a66037,tertiary:#f9c9c0"
					style="width:60px;height:60px">
				</lord-icon>Dueños</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Mascotas/ListaMascotas">
                            <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
				<lord-icon
					src="https://cdn.lordicon.com/zagjqhhk.json"
					trigger="hover"
					colors="outline:#bcee66,primary:#b26836,secondary:#646e78,tertiary:#2ca58d"
					style="width:60px;height:60px">
				</lord-icon>Mascotas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Veterinarios/ListaVeterinarios"><script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
				<lord-icon
					src="https://cdn.lordicon.com/eoabunbr.json"
					trigger="hover"
					colors="outline:#121331,primary:#4bb3fd,secondary:#b4b4b4"
					style="width:60px;height:60px">
				</lord-icon>Veterinarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ListaVisitasPyP"><script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
				<lord-icon
					src="https://cdn.lordicon.com/etqbfrgp.json"
					trigger="hover"
					style="width:60px;height:60px">
				</lord-icon>Visita PyP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ListaHistorias"><script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
				<lord-icon
					src="https://cdn.lordicon.com/yrixyrst.json"
					trigger="hover"
					colors="outline:#121331,primary:#ee6d66,secondary:#3080e8"
					style="width:60px;height:60px">
				</lord-icon>Historia Clinica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Contacto</a>
                        </li>                                                                                                                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022--Mintic-Universidad de Caldas- <a asp-area="" asp-page="/Contacto">Contacto</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
<style>


#menu ul{
	list-style:none;
}

#menu #item{
	float: right;
}

#menu #item a {
	padding: 5px 15px;
	display: block;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
body{
	font-family: 'Bungee';
}

header{
	background-color: #6a10f3eb;
	text-align: center;
	padding: 25px;
}


nav a{
	display: inline-block;
	text-decoration: none;
	color: #01010a;
	margin: 0px 5px;
	padding: 1px 5px;
	border-radius: 35px;
	text-align: center;
}
nav a:hover {
	background-color: rgb(64, 173, 227);
	color: rgb(245, 244, 248);
}

.encabezado-img p{

	font-family: cursive;
	font-size: 40px;
	color:rgb(244, 247, 248)


}
.encabezado-img h1{
	font-size: 80px;
	padding: 15px 0;
	


}

</style>

