.btn{
  
  position: absolute;
  top: 0%;
  left: 5%;
  display: block;
  width: 5px;
  font-family: cursive;
  font-weight:900;
  border-radius: 10px;
  margin: 15px 100px;
  padding: 20px 70px;
  background-color:rgb(8, 8, 9);
  color: rgb(234, 248, 243);
  text-decoration:none;
}
.btn:hover {

  background-color:#1f53c5;
  border: 2px solid rgb(8, 1, 8);
  color:rgb(241, 247, 248);
  
}

body{
  background-image: url('gatoss.webp');
  background-size:cover;
  
  
}
.estilo h1 {
  background-color: rgb(230, 230, 192);
  width: 500px;
  background: #09025d;
  padding: 50px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 40px;
  font-family: cursive;
  color: rgb(233, 252, 64);
  box-shadow: 7px 13px 37px #000;
  text-align: center;
  font-size: 25px;
  margin-bottom: 70px;

}




div {
  background-color: rgb(230, 230, 192);
  width: 500px;
  background: #5fbbe3;
  padding: 50px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 40px;
  font-family: cursive;
  color: rgb(221, 32, 130);
  box-shadow: 7px 13px 37px #000;
  text-align: center;
  font-size: 25px;
  margin-bottom: 70px;
  }

label {

    color: rgb(221, 32, 130); 
    font-size: 20px;
    font-family: cursive;
    
  }
  table{
    background-color: rgb(219, 173, 116);
    text-align: center;
    width: 75%;
    border-radius: 5px  3px;
}

th {
    padding: 5px;
    background-color: black;
    color: bisque;
}


thead{
    background-color: rgb(90, 63, 6);
    border-bottom: solid 5px rgb(199, 144, 27);
    color: beige;
}